/* Getting rid of the bullet points in ul */
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

/* nav bar links styling */
a:link, a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
  }

  a:hover {
      text-decoration: underline;
  }
    a:active {
    background-color: black;
    border-radius: 12px;
  }

body{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

/* header styling */

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    margin: 0px;
    align-items: center;
    
}

/* making the ul display in row */
ul{
display: flex;
gap: 25px;
margin: 12px;
font-size: 30px;
color: aliceblue;
}

/* styling the logo */

header div img {
   border-radius: 16px;
   margin: 12px;
   border: 3px;
   border-color: black;
}

/* -------------- Main section styling ---------------- */

.main {
    display: flex;
    background-image: url(./imgs/kitchen\ 1.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    gap: 16px;
}

/* styling content inside main */
.glass{
 max-width: 400px;
    background-color: black;
    padding: 30px;
    border-radius: 10px;
}

/* styling button */
button {
background-color: #3882F6;
padding: 6px;
border-radius: 6px;
border-color: aquamarine;
}


/*---------------- Styling  team section--------------- */

/* sizing images */
 .team div img {
     width: 150px;
     height: 150px;
     border-radius: 8px;
 }

 /* styling team section */

 .team {
     display: flex;
     flex-direction: column;
     text-align: center;
     align-items: center;
     padding: 40px;
     justify-content: center;
     gap: 30px;
     
 }

 .align-team{
     display: flex;
    gap: 12px;
 }

 .max-width {
     max-width: 300px;
 }

 .name {
     font-size: 18px;
     font-weight: bold;
     margin: 10px;
 }

 /* --- Styling h2 ----- */
h2{
    font-size: 38px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


 /* --Project Overview-- */

 .project{
     display: flex;
     justify-content: center;
     flex-direction: column;
     padding: 30px;
     height: 500px;
     background-image: url(./imgs/random.png);
     color: aliceblue;
     background-repeat: no-repeat;
     background-size: cover;
 }

 .quote {
     display: flex;
     flex-direction: column;
     padding: 60px;
     font-size: 26px;
     font-style: italic; 
 }

 .right{
  text-align: end;
  font-weight: bold;
  color: #1F2937;
 }

 /*----- styling CTA section -------*/

 .cta {
     justify-content: center;
     margin: 30px;
     padding: 30px;
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
    border-radius: 8px;
    border: #1F2937;
    border: 4px;
    background-color: #3882F6;
    margin: 30px 400px ;

 }

 .cta-info{
display: flex;
flex-direction: column;
width: 300px;
justify-content: space-around;
 }

 .cta button {
     margin-bottom: auto;
     padding: 10px 20px;
     align-items: center;
     background-color: #1F2937;
     color: aliceblue;
 }


  /*----- styling footer section -------*/
 footer {
     font-size: 12px;
background-color: gray ;
display: flex;
justify-content: center;
align-items: center;
padding: 30px;

 }